<div class="container">
    <h2>Register</h2>
    
    <form >
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="userData.firstName" required >
            <small class="text-danger">This is required field</small>
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" name="lastName" required [(ngModel)]="userData.lastName">
            <small class="text-danger">This is required field</small>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="userEmail" [(ngModel)]="userData.userEmail">
        </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" [(ngModel)]="userData.userName">
        </div>

        <div class="form-group">
            <label for="">Password</label>            
            <input type="text" class="form-control" name="password" [(ngModel)]="userData.password">
        </div>

       
        <input type="submit"  value="Register" class="btn btn-primary" (click)=registeredUser()>
    </form>
</div>