<h1>Hey</h1>
<a routerLink="about">About</a>



<div class="container">
    <br>
    <h4 class="text-center">Selection</h4>
    <br>
   <div class="row">
    <div class="card col-sm-3"  *ngFor="let movie of movies">
      <img class="card-img-top" src="{{ movie.Poster}}" alt="Card image cap">  
        <div class="card-body">
          <h5 class="card-title card-text text-center">{{movie.Title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-primary">Select</button>
        </div>
      </div>
    </div>
  