/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(38,70,83);
    background: radial-gradient(circle, rgba(38,70,83,1) 2%, rgba(42,157,143,1) 23%, rgba(233,196,106,1) 53%, rgba(244,162,97,1) 68%, rgba(231,111,81,1) 95%);
    background-position: center;

}

