<div class="container">
    <br>
    <h2 class="text-center">Entertainment</h2>
    <br>
    <div class="row">
        <div class="card col-sm-3" *ngFor="let movie of movies">
            <img class="card-img-top" src="{{ movie.Poster}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title card-text text-center">{{movie.Title}}</h5>
                <p class="card-text text-center">Release Year: {{movie.Year}}</p>
                <button class=" btn btn-dark text-center">Select</button>
            </div>
        </div>
    </div>
</div>