<div class="container">
    <div class="form-group">
      <input 
        id="query" 
        type="text" 
        class="form-control" 
        [(ngModel)]="query"
        (keyup.enter)="getSearchResults()"
        placeholder="Search..." />
    </div>
    <button routerLink="/search" type="button" (click)="getSearchResults()" class="form-control btn btn-primary">Search</button>
    <hr>
    <div class="row">
      <app-home 
        *ngFor="let movie of movies"
        [movie]="movie"
        class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      </app-home>
      
    </div>
  </div>
